body{
    background-image: url(to-do-list.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 130vh;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    justify-content: center;
}
h1{
margin-top: 80px;
color: #0f7cc0;
}
input{
    width: 30%;
    padding: 10px;
border:none;
outline-color: #fedb0b;
font-size: 20px;
}

ol{
    margin-left: 450px;
}
li{
    font-size: 25px;
    padding: 5px;
    color: rgb(75, 68, 68);
    cursor: pointer;

}
.crossed{
    text-decoration: line-through;
    color: #93298e;
}
button{
    font-size: 20px;
    width: 55px;
    padding: 7px;
    border: none;
    background-color: beige;
    cursor: pointer;
    border-radius: 10px;
}
.add{
    border:2px solid #6ac343;
    margin-right: 15px;
    color:#6ac343 ;
    font-size: 30px;
}
.delete{
    border:2px solid #eb1a7b;
    color: #eb1a7b;
    font-size:18px ;
}